
body
{
line-height: 1.2em;
font-size: 1em;
}
p
{
display: block;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-indent: 20pt;
}
img
{
display: inline;
}
.image_full, .image_full_caption
{
text-align: center;
page-break-after: always;
page-break-inside: avoid;
clear: both;
padding: 0px;
margin: 0em auto;
height: 95%;
}

.image_full img
{
page-break-inside: avoid;
max-width: 100%;
max-height: 100%;
}
.galley-rw
{
font-family: serif;
font-size: 1em;
font-weight: normal;
letter-spacing: 0em;
line-height: 1.2em;
margin: 0em;
orphans: 1;
padding: 0em;
text-align: justify;
widows: 1;
word-spacing: 0em;
}
